@import '../root/theme.scss';

.outlet {
  @include themify($themes) {
    .home {
      padding: 15px;
      position: sticky;
      background-color: themed(grayBg);
      color: themed(textColor);
    }
  }
}
