@import '../root/theme.scss';

.outlet {
  @include themify($themes) {
    .home {
      padding: 15px;
      position: sticky;
      background-color: themed(grayBg);
      color: themed(textColor);
      min-height: 100vh;

      .posts {
        padding: 0 40px;

        @include small {
          padding: 0;
        }
      }
    }
  }
}
