@import "../root/theme.scss";
.outlet {
  @include themify($themes) {
    .profile {
      background-color: themed(grayBg);
      color: themed(textColor);

      .container {
        .coverImg {
          background-color: themed(navBg);
          width: 100%;
          height: 250px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 0 15px 15px;
            cursor: pointer;
          }
        }

        .profileInfo {
          display: flex;
          align-items: flex-start;
          height: 120px;
          border-radius: 0 0 15px 15px;
          background-color: themed(navBg);

          @include small {
            height: 100%;
            flex-direction: column;
            align-items: center;
          }
          .topcontainer {
            display: flex;
          }

          .infoLeft {
            position: relative;

            .profileImg {
              margin-top: -40px;
              margin-left: 20px;
              height: 150px;
              width: 150px;
              border-radius: 50%;
              border: 3px solid themed(navBg);
              cursor: pointer;
              object-fit: cover;
            }
            .profileIcon {
              position: absolute;
              top: 66px;
              right: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 35px;
              width: 35px;
              border-radius: 50%;
              background-color: themed(hoverGray);
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                background-color: themed(grayBg);
              }
              &:hover .icon {
                color: themed(textColor);
              }

              .icon {
                font-size: 25px;
                color: themed(textColorSoft);
              }
            }
          }

          .infoCenter {
            flex: 1;
            height: 90%;
            display: flex;
            flex-direction: column;
            padding: 15px 6px 0;

            .userName {
              font-size: 24px;
              color: themed(textColor);
            }
            .friendsNumber {
              color: themed(textColorSoft);
              font-size: 15px;
            }
            .friendsProfiles {
              margin-top: 20px;
              position: relative;

              .friendsProfilePic {
                height: 32px;
                width: 32px;
                object-fit: cover;
                border-radius: 50%;
                position: absolute;
                border: 2px solid themed(navBg);
                cursor: pointer;
                top: -10px;
                z-index: 6;

                &:nth-child(2) {
                  left: 25px;
                  z-index: 5;
                }
                &:nth-child(3) {
                  left: 50px;
                  z-index: 4;
                }
                &:nth-child(4) {
                  left: 75px;
                  z-index: 3;
                }
                &:nth-child(5) {
                  left: 100px;
                  z-index: 2;
                }
                &:nth-child(6) {
                  left: 125px;
                  z-index: 1;
                }
              }
            }
          }

          .infoRight {
            flex: 1;
            height: 90%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 20px;

            @include small {
              align-items: center;
              padding-right: 0;
              padding-bottom: 15px;
            }

            .top {
              margin-top: 20px;

              @include small {
                margin: 5px 0;
              }

              .socialShare {
                .icon {
                  margin: 0 5px;
                  padding: 3px;
                  height: 30px;
                  width: 30px;
                  border-radius: 5px;
                  background-color: themed(icon);
                  color: #fff;
                  cursor: pointer;

                  &:hover {
                    background-color: #338fff;
                  }
                }
              }
            }
            .bottom {
              display: flex;
              align-items: center;
              gap: 5px;

              .addStoryBtn {
                display: flex;
                align-items: center;
                gap: 3px;
                padding: 8px 5px;
                border-radius: 5px;
                color: white;
                font-size: 14px;
                background: #1b74e4;
                cursor: pointer;

                &:hover {
                  background-color: #338fff;
                }
              }
              .followBtn {
                padding: 8px 20px;
                border-radius: 5px;
                color: white;
                font-size: 14px;
                background: #1b74e4;
                cursor: pointer;
              }
              .editProfile {
                color: black;
                background: #e4e6eb;

                &:hover {
                  background-color: #cccccc;
                }
              }
            }
          }
        }
      }

      .profileMain {
        display: flex;
        gap: 20px;

        @include small {
          flex-direction: column;
        }

        .profileIntro {
          flex: 2;
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 15px;

          .about {
            padding: 10px;
            border-radius: 6px;
            background-color: themed(navBg);
            box-shadow: 0px 0px 8px 1px themed(shadowClr);
            margin-left: 5px;

            .aboutHeader {
              margin-left: 3px;
            }
            .data {
              display: flex;
              align-items: center;
              gap: 8px;
              padding: 6px 0;

              .icon {
                color: #8c939d;
              }
              p {
                a {
                  color: themed(textColor);
                  font-weight: 500;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .editBtn {
              text-align: center;
              color: themed(textColor);
              background-color: themed(grayBg);
              font-weight: 500;
              padding: 10px 0;
              border-radius: 10px;
              cursor: pointer;
              transition: 0.2s;

              &:hover {
                background-color: themed(hoverGray);
              }
            }
          }

          .photosContainer {
            padding: 10px;
            border-radius: 6px;
            background-color: themed(navBg);
            box-shadow: 0px 0px 8px 1px themed(shadowClr);
            margin-left: 5px;

            .top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 4px;

              a {
                color: #1b74e4;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .photos {
              .photo {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                img {
                  width: 31%;
                  height: 80px;
                  object-fit: cover;
                  margin: 3px;
                  border-radius: 5px;
                  cursor: pointer;

                  @include small {
                    height: 120px;
                  }
                }
              }
            }
          }

          .friendsContainer {
            padding: 10px;
            border-radius: 6px;
            background-color: themed(navBg);
            box-shadow: 0px 0px 8px 1px themed(shadowClr);
            margin-left: 5px;

            .top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 4px;

              a {
                color: #1b74e4;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .friends {
              display: flex;
              align-items: center;
              flex-wrap: wrap;

              .friend {
                display: flex;
                flex-direction: column;
                width: 31%;
                margin: 6px 3px;

                img {
                  height: 80px;
                  object-fit: cover;
                  border-radius: 5px;
                  cursor: pointer;

                  @include small {
                    height: 120px;
                  }
                }
                span {
                  font-size: 15px;
                  width: fit-content;
                  cursor: pointer;

                  @include small {
                    font-size: 16px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
        .profilePosts {
          flex: 3;
          padding: 15px 6px 10px 0;
        }
      }
    }
  }
}
