@import '../root/theme.scss';
.outlet {
  @include themify($themes) {
    .profile {
      padding: 10px;
      height: calc(100vh - 50px);
      background-color: themed(grayBg);
      color: themed(textColor);
    }
  }
}
