$default: #1877f2;
$dark: #f0f2f5;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;

  .navLeft {
    flex: 1;
    padding-left: 15px;

    a {
      color: $default;

      span {
        font-size: 28px;
        font-weight: 800;
      }
    }
  }

  .navCenter {
    flex: 2;

    .searchbar {
      width: 100%;
      height: 35px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      background-color: $dark;

      .searchIcon {
        margin: 0 5px 0 10px;
        color: #65676b;
        font-size: 25px;
      }
      .serarchInput {
        border: none;
        width: 100%;
        height: 35px;
        font-size: 16px;
        color: rgb(0, 0, 0);
        background: transparent;
        outline: none;
      }
    }
  }

  .navRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;

    .navIcons {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-right: 10px;

      .MuiIconButton-root {
        background-color: #f0f2f5;

        &:hover {
          background-color: #dbdbdb;
        }
      }
    }
    .avatar {
      height: 34px;
      width: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: inherit;
      border-radius: 50%;
      position: relative;

      .menuToggle {
        cursor: pointer;

        &:active {
          background-color: #fff;
        }

        .navImg {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          object-fit: cover;
          background: #999;
        }
        .profileBadge {
          position: absolute;
          right: -2px;
          bottom: -2px;
          height: 12px;
          width: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid #e4e6eb;
          background-color: #d0d0d0;

          .badgeIcon {
            font-size: 16px !important;
          }
        }
      }
      .menu {
        position: absolute;
        right: 0;
        top: 42px;
        width: 200px;
        font-size: 14px;
        font-weight: 500;
        padding: 5px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.102) 0px 2px 4px,
          rgba(0, 0, 0, 0.1) 0px 8px 16px;

        .profile {
          display: flex;
          align-items: center;
          gap: 5px;
          font-weight: bold;
          padding: 3px 5px;
          color: black;
          border-radius: 5px;
          text-transform: capitalize;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: #e6e6e6;
          }

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            background: #999;
          }
        }
        .menuOption {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 5px;
          margin-top: 5px;
          color: black;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
}
