@import '../pages/root/theme.scss';

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: themed(navBg);
    box-shadow: 0px 1px 4px 0px themed(textColorSoft);

    @include mobile {
      padding: 0;
    }
    @include tab {
      width: 600px;
    }

    .navLeft {
      flex: 1;
      padding-left: 15px;

      a {
        color: themed(logo);

        span {
          font-size: 28px;
          font-weight: 800;
        }
      }
    }

    .navCenter {
      flex: 2;

      @include mobile {
        padding: 0 5px;
      }

      .searchbar {
        width: 100%;
        height: 35px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: themed(searchBg);
        padding-right: 10px;
        transition: 0.3s;

        &:hover {
          background-color: themed(hover);
        }

        @include mobile {
          width: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .searchIcon {
          color: themed(textColorSoft);
          font-size: 25px;
          margin-left: 6px;
          cursor: text;
        }
        .serarchInput {
          border: none;
          width: 100%;
          height: 35px;
          font-size: 16px;
          color: themed(textColor);
          background: transparent;
          outline: none;

          &::placeholder {
            color: themed(textColorSoft);
          }

          @include mobile {
            visibility: hidden;
          }
        }
      }
      .activeSearchbar {
        @include mobile {
          width: 100% !important;
          height: 35px;
          border-radius: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: themed(searchBg);

          .activeSearchIcon {
            color: themed(textColorSoft);
            font-size: 25px;
            margin-left: 6px;
            cursor: text;
          }

          .serarchInput {
            border: none;
            width: 100%;
            height: 35px;
            font-size: 16px;
            color: themed(textColor);
            background: transparent;
            outline: none;
            visibility: visible;

            &::placeholder {
              color: themed(textColorSoft);
            }
          }
        }
      }
    }
    @include mobile {
      .active {
        flex: 10;
      }
    }

    .navRight {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;

      .navIcons {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-right: 10px;

        .navIcon {
          color: themed(textColor);
          font-size: 22px;
        }

        .MuiIconButton-root {
          background-color: themed(iconBg);

          &:hover {
            background-color: themed(navIconHover);
          }
          &:focus {
            color: themed(textColor);
          }
        }
      }
      .active {
        @include mobile {
          display: none;
        }
      }

      .avatar {
        height: 34px;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        border-radius: 50%;
        position: relative;

        .menuToggle {
          width: 34px;
          height: 34px;
          position: relative;
          cursor: pointer;

          &:active {
            background-color: themed(navBg);
          }

          &:hover .overlay {
            opacity: 1;
          }

          .overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #18181836;
            overflow: hidden;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 50%;
            transition: 0.2s ease;
          }

          .navImg {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            object-fit: cover;
            background: themed(grayBg);
          }
          .profileBadge {
            position: absolute;
            right: -2px;
            bottom: -2px;
            height: 12px;
            width: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: themed(textColor);
            border: 1px solid themed(textColorSoft);
            background-color: themed(grayBg);

            .badgeIcon {
              font-size: 16px !important;
            }
          }
        }
        .menu {
          position: absolute;
          right: 0;
          top: 42px;
          width: 200px;
          font-size: 14px;
          font-weight: 500;
          padding: 5px;
          border-radius: 8px;
          background-color: themed(navBg);
          box-shadow: themed(textColorSoft) 0px 2px 4px,
            themed(textColorSoft) 0px 4px 8px;

          .profile {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: bold;
            padding: 3px 5px;
            color: themed(textColor);
            border-radius: 5px;
            text-transform: capitalize;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background-color: themed(navIconHover);
            }

            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              background: themed(textColorSoft);
            }
          }
          .menuOption {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px;
            margin-top: 5px;
            color: themed(textColor);
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background-color: themed(navIconHover);
            }
          }
        }
      }
    }
  }
}
