@import '../pages/root/theme.scss';

.rightSidebar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    height: calc(100vh - 50px);
    top: 50px;
    background-color: themed(grayBg);
    overflow-y: scroll;
    scroll-snap-type: y proximity;

    @include small {
      flex: 1;
    }
    @include tab {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: themed(scrollBarbg);
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: themed(scrollBarclr);
        border-radius: 6px;
      }
    }
    .rightSidebarWrapper {
      padding: 10px 10px 0;

      @include small {
        display: none;
      }

      /* Pages and profile container */
      .pageProfile {
        padding: 0 5px;

        .headerTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 5px;

          h4 {
            color: themed(textColorSoft);
          }
          .headerBtnIcon {
            .rightSidebarIconBtn {
              &:hover {
                background-color: themed(hover);
              }
              &:focus {
                color: themed(textColor);
              }
              .rightSidebarIcon {
                color: themed(textColorSoft);
              }
            }
          }
        }

        .rightsidebarPage {
          display: flex;
          align-items: center;
          gap: 6px;
          padding: 6px;
          border-radius: 10px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: themed(hover);
          }

          .rightsidebarPageImg {
            width: 40px;
            height: 40px;
            background-color: themed(grayBg);
            border-radius: 50%;

            .pageImg {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .rightsidebarPageName {
            font-size: 15px;
            font-weight: 500;
            color: themed(textColor);
          }

          .rightSidebarIcon {
            color: themed(textColorSoft);
            font-size: 25px;
          }
          .rightsidebarPageText {
            color: themed(textColorSoft);
            font-size: 14px;
          }
        }
      }

      /* Birthday container */
      .birthdayContainer {
        padding-top: 10px;

        .rightSidebarHeader {
          color: themed(textColorSoft);
          padding-bottom: 5px;
        }
        .birthdayEvent {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: themed(hover);
          }

          .birthdayImg {
            width: 30px;
          }
          .birthdayText {
            font-weight: 300;
            font-size: 14px;
            color: themed(textColorSoft);

            b {
              color: themed(textColor);
              font-size: 14px;
            }
          }
        }
      }

      /* Suggest Friends Container */
      .suggest {
        padding-top: 10px;

        .suggestHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .header {
            color: themed(textColorSoft);
          }

          span {
            padding: 8px 12px;
            border-radius: 5px;
            color: themed(icon);
            font-size: 12px;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background-color: themed(hover);
            }
          }
        }
        .suggestFriends {
          display: flex;
          align-items: center;
          padding: 8px;
          margin: 5px 0;
          border-radius: 5px;
          gap: 10px;
          transition: 0.3s;

          &:hover {
            background-color: themed(hover);
          }

          .suggestLeft {
            .suggestLeftImg {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              background: themed(grayBg);
              cursor: pointer;
            }
          }
          .suggestRight {
            width: 100%;

            .suggestTitle {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 5px;

              .friendName {
                font-size: 16px;
                font-weight: 500;
                color: themed(textColor);
                cursor: pointer;
              }
              .duration {
                font-size: 14px;
                font-weight: 300;
                color: themed(textColorSoft);
              }
            }
            .suggestBtn {
              display: flex;
              gap: 6px;

              .basicBtn {
                padding: 6px 10px;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
              }
              .followBtn {
                color: #fff;
                background-color: themed(icon);
                transition: 0.2s;

                &:hover {
                  background-color: #005cd4;
                }
              }
              .deleteBtn {
                background-color: #d1d1d1;
                transition: 0.2s;

                &:hover {
                  color: #fff;
                  background-color: #8f8f8f;
                }
              }
            }
          }
        }
      }

      /* Active Friends container */
      .friendListContainer {
        margin-top: 5px;

        .headerTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 5px;

          h4 {
            color: themed(textColorSoft);
          }
          .headerBtnIcon {
            .rightSidebarIconBtn {
              &:hover {
                background-color: themed(hover);
              }
              &:focus {
                color: themed(textColor);
              }
              .rightSidebarIcon {
                color: themed(textColorSoft);
              }
            }
          }
        }
      }

      .rightbarFriend {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px;
        border-radius: 10px;
        color: themed(textColorSoft);
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: themed(hover);
        }

        .rightbarFriendImgContainer {
          position: relative;
          width: 32px;
          height: 32px;
          background-color: themed(grayBg);
          border-radius: 50%;

          .friendImg {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .activeStatus {
          position: absolute;
          height: 12px;
          width: 12px;
          background-color: limegreen;
          border: 2px solid themed(postBg);
          border-radius: 50%;
          bottom: 0;
          right: -4px;
        }
        .rightbarUsername {
          font-size: 15px;
          font-weight: 500;
          color: themed(textColor);
        }
      }
    }
  }
}
