$themes: (
  light: (
    logo: #1877f2,
    icon: #1877f2,
    scrollBarbg: #f0f2f5,
    scrollBarclr: #dbdbdb,
    searchColor: #65676b,
    navBg: #ffffff,
    grayBg: #f0f2f5,
    textColor: #050505,
    textColorSoft: #555,
    searchBg: #f0f2f5,
    postBg: #ffffff,
    iconBg: #e4e6eb,
    hover: #dadada,
    hoverGray: #dadada,
    navIconHover: #ddd,
    shadowClr: #c3c3c3,
    popbg: #0f0f0f,
  ),
  dark: (
    logo: white,
    icon: #1877f2,
    scrollBarbg: #18191a,
    scrollBarclr: #434343,
    navBg: #242526,
    grayBg: #18191a,
    textColor: #e4e6eb,
    textColorSoft: #b0b3b8,
    searchBg: #3a3b3c,
    postBg: #242526,
    iconBg: #3a3b3c,
    hover: #303030,
    hoverGray: #3f3f3f,
    navIconHover: #575757,
    shadowClr: #808080,
    popbg: #ffffff,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin small {
  @media (max-width: 900px) {
    @content;
  }
}
